.footer {
  background-color: #000;
  padding: 20px 0 10px 0;
}

.footer nav {
  max-width: 600px;
  margin: 0 auto;
}

.footer nav ul {
  display: flex;
  justify-content: center;
}

.footer nav ul li {
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
}

.footer nav ul li:hover {
  color: rgb(182, 182, 182);
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer nav ul li + li {
  margin-left: 50px;
}

.footer .cr {
  color: #fff;
  margin-top: 30px;
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 10px 0 10px 0;
  }

  .footer nav ul li {
    font-size: 1rem;
  }

  .footer .cr {
    margin-top: 10px;
  }
}
