.footer {
  background-color: #000;
}

.footer nav {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer nav ul {
  display: flex;
  justify-content: center;
}

.footer nav ul li + li {
  margin-left: 50px;
}

.footer nav ul li a {
  color: #fff;
}

.footer .cr {
  color: #fff;
  margin-top: 30px;
}
