.main-visual {
  width: 100%;
  height: 100vh;
  background-image: url(../image/mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 65%;
  position: relative;
}

.main-ttl {
  margin: 0;
  font-size: 6rem;
  color: #fff;
}

.main-ttl .upper,
.main-ttl .lower {
  display: block;
  position: absolute;
  margin: 20px;
}

.main-ttl .upper {
  top: 48%;
  left: 5%;
}

.main-ttl .lower {
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
