.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.section-ttl {
  margin: 0;
  font-size: 3rem;
  position: relative;
}

.section-ttl::before {
  font-size: 1.5rem;
  color: rgb(250, 85, 85);
  position: absolute;
  top: -35%;
  left: 50%;
  transform: translateX(-50%);
}

/* about */
.about {
  padding: 100px 0 80px;
}

.section-ttl.__about::before {
  content: "ABOUT";
}

.about .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 30px 0;
}

.about .content img {
  width: 300px;
  height: 300px;
  border-radius: 25%;
}

.about .content .profile {
  padding-left: 20px;
  text-align: left;
  font-size: 1.25rem;
}

.about .content .profile p + p {
  margin-top: 10px;
}

/* skill */
.skill {
  padding: 100px 0 80px;
  background-color: rgb(240, 240, 240);
}

.section-ttl.__skill::before {
  content: "SKILL";
}

.skill ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.skill ul li {
  margin: 10px;
  width: 25%;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 8px 8px 10px rgb(109, 108, 108);
}

.skill ul li .img-box {
  display: flex;
  justify-content: space-around;
}

.skill ul li img {
  max-width: 150px;
  height: 150px;
}

.skill ul li .name {
  margin-top: 20px;
}

.skill ul li .detail {
  margin-top: 10px;
}

/* portfolio */
.portfolio {
  padding: 100px 0 80px;
}

.section-ttl.__portfolio::before {
  content: "PORTFOLIO";
}

.portfolio ul {
  display: flex;
  justify-content: center;
  margin: 50px 50px 0;
}

.portfolio ul li + li {
  margin-left: 20px;
}

.portfolio .portfolio-box {
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(0.5);
  pointer-events: none;
  position: relative;
  z-index: 0;
}

.portfolio .portfolio-box:hover {
  transform: scale(1.25);
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(1);
  position: relative;
  z-index: 1;
}

.portfolio .portfolio-box img {
  width: 100%;
  border-radius: 10px;
  pointer-events: auto;
}

.portfolio .portfolio-box:hover img {
  transition: 0.3s;
  box-shadow: 0 5px 10px 5px rgb(177, 176, 176);
}

.portfolio .portfolio-box p {
  margin-top: 10px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.modal.active {
  opacity: 1;
  transition: 0.3s;
  z-index: 18;
}

.modal .modal-inner {
  background-color: #fff;
  width: 550px;
  height: 490px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
  z-index: -1;
}

.modal.active .modal-inner {
  z-index: 18;
}

.modal img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal .portfolio-ttl {
  font-size: 1.125em;
  margin-top: 8px;
}

.modal .language {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 10px;
}

.modal .comment {
  font-size: 1.125rem;
  margin-top: 10px;
}

.modal .btn {
  font-size: 1.125rem;
  color: rgb(0, 0, 0);
  width: 130px;
  position: absolute;
  transition: 0.3s;
}

.modal .btn:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.modal .btn span {
  display: block;
  height: 100%;
}

.modal .btn a {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #000;
}

.modal .git-btn {
  left: 40px;
  bottom: 15px;
}

.modal .site-btn {
  right: 40px;
  bottom: 15px;
}

.modal .close-btn {
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}

.modal .close-btn span {
  padding: 10px 0;
}

.modal .btn::before,
.modal .btn::after {
  content: "";
  width: 25%;
  height: 1px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  transition: 0.3s;
}

.modal .btn span::before,
.modal .btn span::after {
  content: "";
  width: 1px;
  height: 50%;
  background-color: rgb(255, 0, 0);
  position: absolute;
  transition: 0.3s;
}

.modal .btn::before,
.modal .btn span::before {
  top: 0;
  left: 0;
}

.modal .btn::after,
.modal .btn span::after {
  bottom: 0;
  right: 0;
}

.modal .btn:hover::before,
.modal .btn:hover::after {
  transition: 0.3s;
  width: 100%;
}

.modal .btn span:hover::before,
.modal .btn span:hover::after {
  transition: 0.3s;
  height: 100%;
}

@media screen and (max-width: 760px) {
  .wrapper {
    padding: 0 20px;
  }

  .section-ttl {
    font-size: 2rem;
  }

  .section-ttl::before {
    font-size: 1.125rem;
  }

  .pd {
    padding-top: 60px;
  }

  .pd.__skill {
    background-color: rgb(240, 240, 240);
  }

  /* about */
  .about {
    padding: 40px 0;
    margin-top: 60px;
  }

  .about .content {
    flex-direction: column;
    margin: 30px 30px 0;
  }

  .about .content img {
    width: 45%;
    height: auto;
  }

  .about .content .profile {
    margin-top: 15px;
  }

  .about .content .profile p + p {
    margin-top: 5px;
  }

  /* skill */
  .skill {
    padding: 40px 0;
  }

  .skill ul {
    flex-direction: column;
    margin-top: 0;
  }

  .skill ul li {
    width: 60%;
    margin-top: 30px;
  }

  /* portfolio */
  .portfolio {
    padding: 40px 0 20px;
  }

  .portfolio ul {
    flex-direction: column;
    margin: 20px 20px 0;
  }

  .portfolio ul li + li {
    margin-top: 40px;
    margin-left: 0;
  }

  .portfolio .portfolio-box {
    transition: none;
    filter: none;
  }

  .portfolio .portfolio-box:hover {
    transform: none;
    transition: none;
    filter: none;
  }

  .portfolio .portfolio-box img {
    width: 80%;
  }

  .portfolio .portfolio-box:hover img {
    transition: none;
    box-shadow: none;
  }

  .portfolio .portfolio-box p {
    margin-top: 4px;
  }

  .modal .modal-inner {
    width: 80%;
    height: 70%;
  }

  .modal .portfolio-ttl {
    font-size: 1rem;
    margin-top: 6px;
  }

  .modal .language {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 8px;
  }

  .modal .comment {
    font-size: 1rem;
    margin-top: 8px;
  }

  .modal .btn {
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    width: 100px;
    position: absolute;
    transition: none;
    background-color: rgb(202, 202, 202);
  }

  .modal .github {
    line-height: 20px;
  }

  .modal .btn::before,
  .modal .btn::after {
    background: none;
  }

  .modal .btn span::before,
  .modal .btn span::after {
    background: none;
  }

  .modal .btn:hover {
    transition: none;
    transform: none;
  }
}

@media screen and (max-width: 500px) {
  .modal .modal-inner {
    height: auto;
  }

  .modal .modal-inner::after {
    content: "";
    display: block;
    padding-bottom: 40%;
  }

  .modal .git-btn {
    left: 5%;
    bottom: 60px;
  }

  .modal .site-btn {
    right: 5%;
    bottom: 60px;
  }

  .modal .close-btn {
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
  }
}
